html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

header {
    margin: 0;
    background-color: #551a8b;
    color: rgba(255,255,255,0.8);
    min-width: 320px;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 0 0 1.5rem 0;
}

h1 {
    font-weight: normal;
    margin: 0;
    padding: 1.5rem 0 0 0.75rem;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    padding: 0.75rem;
}

main {
    padding: 2em;

}

button {
    background-color: rgba(255,255,255,0.8);
    color: #551a8b;
    appearance: none;
    border: 1px solid black;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

body.dark {
    background-color: #222;
    color: rgba(255,255,255,0.8);

}

.dark button {
    background-color: #551a8b;
    color: rgba(255,255,255,0.8);
}

@media screen and (min-width: 768px) {

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}

nav {
    padding: 0;
    display: block;
    font-size: 0.8em;
}

h1 {
    padding: 0;
    font-size: 1em;
}

a {
    padding: 0 1em;
    text-decoration: none;}
}